.App {
  text-align: center;
}



.d-block .card:hover{
  background-color: #000000;
  cursor: pointer;
  color: white;
  

}
.d-block:hover{
  border: white;

}
.pe-6{
  
  cursor: pointer;
 color: black;
} 


